body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff0f6;
  color: #ff3366;
}

.container {
  text-align: center;
  padding: 50px;
}

button {
  background-color: #ff3366;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #e6005c;
}

.photo {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80vw; 
  max-height: 60vh;
  object-fit: contain; 
  z-index: -1; 
}
p {
  margin-top: 20px;
  font-size: 1.1rem;
}
